@font-face {
  font-family: "Circular Std Black";
  src: url("../fonts/CircularStd-Black.eot");
  src: local("Circular Std Black"), local("CircularStd-Black"),
    url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Black.woff2") format("woff2"),
    url("../fonts/CircularStd-Black.woff") format("woff"),
    url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Medium";
  src: url("../fonts/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"),
    url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd-Medium.woff") format("woff"),
    url("../fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.eot");
  src: local("Circular Std Book"), local("CircularStd-Book"),
    url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd-Book.woff") format("woff"),
    url("../fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("☺"), url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_smith-allison";
  src: url("../fonts/smith-allison.eot");
  src: local("☺"), url("../fonts/smith-allison.woff") format("woff"),
    url("../fonts/smith-allison.ttf") format("truetype"),
    url("../fonts/smith-allison.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  /*max-width: 1440px;
  margin-left: auto;
  margin-right: auto;*/
  grid-template:
    "header" minmax(80px, auto)
    "main" 1fr
    "footer" minmax(100px, auto) / 1fr;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  gap: 140px;
}

.header__logo {
  width: 200px;
}

.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  width: 500px;
}

.header__list li {
  list-style-type: none;
  display: inline-block;
}

.header__link {
  font-family: "Circular Std Medium";
  font-size: 18px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.main {
  grid-area: main;
}

.main__slogan {
  background-image: url(../image/big.png);
  background-size: cover;
  min-height: 813px;
}

.main__title {
  font-family: "Conv_smith-allison";
  font-style: normal;
  font-size: 341px;
  line-height: 282px;
  color: rgba(255, 199, 0, 1);
  padding: 200px 0 0 90px;
}

.main__subtitle {
  font-family: "Circular Std Black";
  font-size: 300px;
  line-height: 228px;
  color: rgba(255, 255, 255, 1);
  padding: 0 0 0 70px;
}

.main__content {
  font-family: "Circular Std Medium";
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  text-align: end;
  padding-right: 70px;
}

.main__wrap-top {
  min-height: 1012px;
  background: linear-gradient(
    180deg,
    #00beac 43.53%,
    rgba(0, 190, 172, 0) 100%
  );
}

.wrap-top {
  text-align: center;
}
.main__title-top {
  font-size: 200px;
  line-height: 166px;
  padding-top: 100px;
}

.main__subtitle-top {
  font-size: 80px;
  line-height: 100%;
}

.main__text {
  width: 972px;
  margin: auto;
  font-family: "Circular Std Book";
  font-size: 26px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  padding-top: 20px;
  padding-bottom: 90px;
}
.main__galerry-top {
  display: grid;
  min-height: 553px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 70px 0 70px;
}

.galerry-top-wrap {
  width: 138px;
  text-align: center;
  padding: 364px 0 0 0;
  margin: 0 93px 0 93px;
}

.main__title-galerry {
  font-family: "Circular Std Black";
  font-size: 40px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.main__subtitle-galerry {
  font-family: "Circular Std Medium";
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.gallery-item1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(..//image/Paraty.png);
  background-size: cover;
  border-radius: 10px;
}
.gallery-item2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(..//image/Morretes.png);
  background-size: cover;
  border-radius: 10px;
}
.gallery-item3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(..//image/Olinda.png);
  background-size: cover;
  border-radius: 10px;
}
.gallery-item4 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(..//image/Gramado.png);
  background-size: cover;
  border-radius: 10px;
}
.main__wrap-more {
  min-height: 1012px;
  background: linear-gradient(
    180deg,
    #f5fffe 0%,
    #f5fffe 47.71%,
    rgba(255, 255, 255, 0) 100%
  );
}

.main__content-more {
  text-align: center;
}

.main__galerry-more {
  display: grid;
  min-height: 710px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0 70px 0 70px;
}

.main__title-color {
  color: rgba(12, 162, 150, 1);
  font-size: 200px;
  line-height: 166px;
  padding-top: 10px;
}
.main__subtitle-color {
  color: rgba(0, 0, 0, 1);
  font-size: 80px;
  line-height: 100%;
}

.main__text-color {
  color: rgba(86, 86, 86, 1);
}

.gallery-item5 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(../image/Estaing.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 10px;
}

.title-galerry-item5 {
  margin-right: auto;
  margin-left: auto;
}

.main__title-galerry-item5 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 365px;
}

.main__subtitle-galerry-item5 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.gallery-item6 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(../image/Vík\ í\ Mýrda.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 10px;
}

.main__title-galerry-item6 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 223px;
}

.main__subtitle-galerry-item6 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.gallery-item7 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(../image/Hamnoy\ village.png);
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
  border-radius: 10px;
}

.main__title-galerry-item7 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 223px;
}

.main__subtitle-galerry-item7 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.gallery-item8 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.92) 100%
    ),
    url(../image/Montego\ Bay.png);
  background-size: cover;
  grid-column: 2/4;
  grid-row: 2/3;
  border-radius: 10px;
}

.main__title-galerry-item8 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 195px;
}

.main__subtitle-galerry-item8 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.footer {
  background-color: rgba(0, 53, 49, 1);
  min-height: 900px;
}

.footer__wrap {
  min-height: 327px;
  padding-top: 50px;
}

.footer__image-big {
  background-image: linear-gradient(
      180deg,
      #f5fffe 0%,
      #f5fffe 47.71%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../image/footer.png);
  background-size: cover;
  min-height: 523px;
}

.footer__nav {
  display: grid;
  min-height: 234px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  padding-left: 77px;
}

.footer__menu {
  display: grid;
  gap: 10px;
}

.footer__menu-title {
  font-family: "Circular Std Black";
  font-size: 16px;
  line-height: 25px;

  color: rgba(208, 208, 208, 1);
}

.footer__menu-link {
  font-family: "Circular Std Book";
  font-size: 16px;
  line-height: 133.71%;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer__icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.footer__icon-fb {
  background-image: url(../image/svg/facebook.svg);
  background-size: cover;
}
.footer__icon-twitter {
  background-image: url(../image/svg/twitter.svg);
  background-size: cover;
}
.footer__icon-instagram {
  background-image: url(../image/svg/instagram.svg);
  background-size: cover;
}
.footer__icon-linkedin {
  background-image: url(../image/svg/linkedin.svg);
  background-size: cover;
}
